name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Setup CMake
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: '3.31.0'
    - name: Preparation on Linux
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install libgtk-3-dev libasound2-dev
        sudo modprobe snd-aloop
    - name: Build
      run: |
        cargo build --verbose
        cargo build --release --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Upload artifacts on Windows
      if: runner.os == 'Windows'
      uses: actions/upload-artifact@v4
      with:
        name: spc2midi-tsuu_${{ matrix.os }}
        path: |
          target/release/spc2midi-tsuu.exe
        if-no-files-found: error
    - name: Upload artifacts on *nix platforms
      if: runner.os == 'Linux' || runner.os == 'macOS'
      uses: actions/upload-artifact@v4
      with:
        name: spc2midi-tsuu_${{ matrix.os }}
        path: |
          target/release/spc2midi-tsuu
        if-no-files-found: error

